<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página principal</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <span
      ><button id="botonObras">Ver obras de arte</button
      ><button id="botonLogs">Ver Logs</button></span
    >
    <script type="module" src="../JS/index.js"></script>
  </body>
</html>
