<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Logs</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div id="divListadoDeLogs">
        <% logs.forEach(log => { %>
        <div class="divTarjetaLog card">
          <h5 class="card-title">ID: <%= log.id %></h5>
          <p class="card-text">Ruta: <%= log.ruta %></p>
          <p class="card-text">Método: <%= log.metodo %></p>
        </div>
        <% }) %>
    </div>
  </body>
</html>
